{% extends 'app/base.html' %}
{% include 'app/navbar.html' %}
{% block content %}
<div class="appointment-container">
    <div class="appointment-card">
        <h2 class="appointment-title">Update Appointment</h2>
        <form method="post" class="appointment-form">
            {% csrf_token %}

            {{ form.as_p }}
            <div class="form-group">
                <button type="submit" class="submit-btn">Update Appointment</button>
            </div>
        </form>

        <!-- Back Link -->
        <div class="back-link">
            <a href="{% url 'admin_panel' %}" class="back-btn">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}
